{% extends "base.html" %}
{% load humanize %}
{% block title %}
  Cart Page
{% endblock title %}
{% block content %}

    <section id="cart" class="my-3 py-4">
        <div class="container row">
            <div class="col-md-7 mx-auto">
                {% if cart %}
                <div class="card">
                    <div class="responsive">
                        <table class="table table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Sn</th>
                                    <th>Image</th>
                                    <th>Product</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart.cartitem_set.all %}
                                  <tr>
                                    <td>
                                        <a href="{% url 'managecart' item.id %}?action=del"><i class="bi bi-trash"></i></a>
                                    </td>
                                    <td>{{forloop.counter}}</td>
                                    <td><img width="100" src="{{item.product.image.url}}" alt="{{item.product.title}}" class="img-thumbnail img-fluid"></td>
                                    <td>{{item.product.title}}</td>
                                    <td>{{item.product.price}}</td>
                                    <td>
                                        <a href="{% url 'managecart' item.id %}?action=dcr"><i class="bi bi-dash-circle"></i></a>
                                        {{item.quantity}}
                                        <a href="{% url 'managecart' item.id %}?action=inc"><i class="bi bi-plus-circle"></i></a>
                                    </td>
                                    <td>&#8358; {{item.subtotal|intcomma}}</td>
                                  </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="5">
                                        <h3>Total</h3>
                                    </td>
                                    <td colspan="2">
                                        <h3>&#8358; {{cart.total|intcomma}}</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <a href="{% url 'products' %}" class="btn btn-dark"> Continue Shopping</a>
                                    </td>
                                    {% if cart.cartitem_set.all %}
                                    <td  colspan="4">
                                        <a href="{% url 'checkout' %}" class="btn btn-success"> Proceed to checkout</a>
                                    </td>
                                    {% else %}
                                    <td colspan="4">
                                        <button disabled="disabled" class="btn btn-success">Cant Checkout Yet</button>
                                    </td>
                                    {% endif %}
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                  <p class="lead bg-danger p-3 text-white">No Cart item avaliable, add to cart</p>
                {% endif %}
                
            </div>
        </div>
    </section>
  
{% endblock content %}


<!-- for i in cart(total,customer).cartittem_set.all(cart,product,quantity,subtotal) -->