{% extends "base.html" %}
{% block title %}Password Reset{% endblock title %}


{% block content %}
    <section id="rest_form">
        <div class="container my-3">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header display-5">Password Reset Form</div>
                        <div class="card-body">
                            <p class="lead my-3"> Please enter your new password so we can verify.</p>

                            <form action="" method="POST">
                                {% csrf_token %} 
                                {{form}}
                                <div class="d-grid my-3">
                                    <button class="btn btn-dark" type="submit">Reset Password</button>
                                </div>
                              </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
