{% extends "base.html" %}
{% load static %}

{% block title %}Reset Password{% endblock title %}


{% block content %}
    <section id="reset">
        <div class="container my-4">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header display-5">Welcome to the Password Reset Page</div>
                        <div class="card-body">
                            <p class="lead text-center">
                                Forgot your password? Please enter the email address you used to register
                                with us and we will send you a link to reset your password
                            </p>

                            <form action="" method="POST">
                                {% csrf_token %}
                                {{form}}
                                <div class="d-flex justify-content-between my-4">
                                    <button type="submit" class="btn btn-dark">Send email</button>
                                    <a href="{% url 'index' %}" class="btn btn-success">Go back home</a>
                                </div>
                              </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}